POSTGRES_USER=proyectoia_user
POSTGRES_PASSWORD=proyectoia_pass
POSTGRES_DB=proyectoia_db
POSTGRES_PORT=5433

PGADMIN_DEFAULT_EMAIL=admin@proyectoia.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050

NODE_ENV=development
PORT=3000
BACKEND_PORT=3001

# Futuro backend NestJS + TypeORM
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=proyectoia_user
DB_PASSWORD=proyectoia_pass
DB_NAME=proyectoia_db

JWT_SECRET=proyectoia_dev_super_secret_key_2026
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173

MAIL_ENABLED=false
MAIL_FROM=noreply@proyectoia.local
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
